In [1]:
import numpy as np
import pandas as pd
import warnings
# warnings.filterwarnings('ignore')
# %matplotlib inline

In [2]:
users = pd.read_csv('BX-Users.csv',sep=";",encoding="latin1")
books = pd.read_csv('BX-Books.csv',sep=";",encoding="latin1",error_bad_lines=False)
rating = pd.read_csv('BX-Book-Ratings.csv',sep=";",encoding="latin1")

b'Skipping line 6452: expected 8 fields, saw 9\nSkipping line 43667: expected 8 fields, saw 10\nSkipping line 51751: expected 8 fields, saw 9\n'
b'Skipping line 92038: expected 8 fields, saw 9\nSkipping line 104319: expected 8 fields, saw 9\nSkipping line 121768: expected 8 fields, saw 9\n'
b'Skipping line 144058: expected 8 fields, saw 9\nSkipping line 150789: expected 8 fields, saw 9\nSkipping line 157128: expected 8 fields, saw 9\nSkipping line 180189: expected 8 fields, saw 9\nSkipping line 185738: expected 8 fields, saw 9\n'
b'Skipping line 209388: expected 8 fields, saw 9\nSkipping line 220626: expected 8 fields, saw 9\nSkipping line 227933: expected 8 fields, saw 11\nSkipping line 228957: expected 8 fields, saw 10\nSkipping line 245933: expected 8 fields, saw 9\nSkipping line 251296: expected 8 fields, saw 9\nSkipping line 259941: expected 8 fields, saw 9\nSkipping line 261529: expected 8 fields, saw 9\n'
C:\Users\n_int\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3057: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [6]:
users['User-ID'].nunique()

278858

In [7]:
len(users)

278858

In [14]:
books.head()

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company

In [13]:
books.drop(columns = ['Image-URL-S','Image-URL-M','Image-URL-L'],inplace = True)

In [9]:
len(books)

271360

In [10]:
rating.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [11]:
len(rating)

1149780

In [20]:
a = pd.merge(rating,books,on='ISBN')

In [21]:
a.head()

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
3,8680,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books
4,10314,034545104X,9,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books

In [23]:
b = pd.merge(a,users,on = 'User-ID')

In [24]:
b

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Location,Age
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,"tyler, texas, usa",NaN
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,"cincinnati, ohio, usa",23.0
2,2313,0812533550,9,Ender's Game (Ender Wiggins Saga (Paperback)),Orson Scott Card,1986,Tor Books,"cincinnati, ohio, usa",23.0
3,2313,0679745580,8,In Cold Blood (Vintage International),TRUMAN CAPOTE,1994,Vintage,"cincinnati, ohio, usa",23.0
4,2313,0060173289,9,Divine Secrets of the Ya-Ya Sisterhood : A Novel,Rebecca Wells,1996,HarperCollins,"cincinnati, ohio, usa",23.0
5,2313,0385482388,5,The Mistress of Spices,Chitra Banerjee Divakaruni,1998,Anchor Books/Doubleday,"cincinnati, ohio, usa",23.0
6,2313,0399146431,5,The Bonesetter's Daughter,Amy Tan,2001,Putnam Publishing Group,"cincinnati, ohio, usa",23.0
7,2313,0345348036,9,The Princess Bride: S Morgenstern's Classic Ta...,WILLIAM GOLDMAN,1987,Del Rey,"cincinnati, ohio, usa",23.0
8,2313,0553278223,7,The Martian Chronicles,RAY BRADBURY,1984,Spectra,"cincinnati, ohio, usa",23.0
9,2313,0449912558,0,The Sparrow,MARY DORIA RUSSELL,1997,Fawcett Books,"cincinnati, ohio, usa",23.0
10,2313,0020442602,9,Voyage of the Dawn Treader,C. S. Lewis,1970,MacMillan Publishing Company.,"cincinnati, ohio, usa",23.0
11,2313,0295955252,8,No-No Boy,John Okada,1978,University of Washington Press,"cincinnati, ohio, usa",23.0
12,2313,0300069049,0,Cosima Wagner's Diaries: An Abridgement,Cosima Wagner,1997,Yale University Press,"cincinnati, ohio, usa",23.0
13,2313,0312186754,5,An Arrow's Flight,Mark Merlis,1998,St Martins Pr,"cincinnati, ohio, usa",23.0
14,2313,0312275560,6,The Path of Minor Planets : A Novel,Andrew Sean Greer,2001,Picador,"cincinnati, ohio, usa",23.0
15,2313,0312876513,6,Shadow of the Hegemon (Ender Wiggins Saga (Har...,Orson Scott Card,2001,Tor Books,"cincinnati, ohio, usa",23.0
16,2313,0375706771,0,Midwives: A Novel,Chris Bohjalian,1998,Vintage,"cincinnati, ohio, usa",23.0
17,2313,0385470142,9,"Fires in the Mirror: Crown Heights, Brooklyn a...",Anna Deavere Smith,1993,Anchor,"cincinnati, ohio, usa",23.0
18,2313,0394756827,10,"Godel, Escher, Bach: An Eternal Golden Braid",Douglas R. Hofstadter,1989,Vintage Books USA,"cincinnati, ohio, usa",23.0
19,2313,0395874653,8,Kaleidoscope Readings in Education,K. Ryan,1997,Houghton Mifflin College,"cincinnati, ohio, usa",23.0
20,2313,0399141146,3,The Hundred Secret Senses,Amy Tan,1995,Putnam Pub Group,"cincinnati, ohio, usa",23.0
21,2313,0451525078,0,Don Quixote of LA Mancha,Miguel de Cervantes Saavedra,1990,Signet Classics,"cincinnati, ohio, usa",23.0
22,2313,0452260116,9,Song of Solomon (Oprah's Book Club (Paperback)),Toni Morrison,1987,Plume Books,"cincinnati, ohio, usa",23.0
23,2313,0520077806,8,Mama Lola: A Voodoo Priestess in Brooklyn (Com...,Karen McCarthy Brown,1992,University of California Press,"cincinnati, ohio, usa",23.0
24,2313,0553213601,0,Cyrano De Bergerac (Bantam Classics),EDMOND ROSTAND,1950,Bantam,"cincinnati, ohio, usa",23.0
25,2313,0679722319,0,Where I'm Calling from: New and Selected Stori...,Raymond Carver,1989,Vintage Books USA,"cincinnati, ohio, usa",23.0
26,2313,0679729259,8,The Brothers Karamazov (Vintage Classics),Fyodor Dostoyevsky,1991,Vintage Books USA,"cincinnati, ohio, usa",23.0
27,2313,0679733760,7,"A Midwife's Tale : The Life of Martha Ballard,...",LAUREL THATCHER ULRICH,1991,Vintage,"cincinnati, ohio, usa",23.0
28,2313,0679741410,6,Writers Dreaming: 26 Writers Talk About Their ...,Naomi Epel,1994,Vintage Books USA,"cincinnati, ohio, usa",23.0
29,2313,0767901266,0,A Hope in the Unseen : An American Odyssey fro...,RON SUSKIND,1999,Broadway,"cincinnati, ohio, usa",23.0
...,...,...,...,...,...,...,...,...,...
1031106,275390,3442336317,2,Ganzheitlich leben. Wegweisungen fÃ?Â¼r den Al...,Neale Donald Walsch,2000,Goldmann,"rostock, mecklenburg-vorpommern, germany",NaN
1031107,275579,270022793X,5,Papy bat tous les records,Beatrice Rouer,2002,Rageot,"marcq-en-baroeul, nord, france",47.0
1031108,275604,0813122066,0,Engagement With the Past: The Lives and Works ...,William Palmer,2001,University Press of Kentucky,"lexington, kentucky, usa",NaN
1031109,275667,8807811073,7,Garzanti - Gli Elefanti: Il Giudice E Il Suo Boia,F Durrenmatt,0,Feltrinelli,"montespertoli, toscana, italy",19.0
1031110,275710,0949225053,0,Black fire!: Accounts of the guerrilla war in ...,Michael Raeburn,1986,Zimbabwe Pub. House,"harare, ., zimbabwe",NaN
1031111,275717,8401322677,7,Los pecados de InÃ©s de Hinojosa (Exitos),PrÃ³spero Morales Pradilla,1989,Plaza &amp; JanÃ©s,"el campello, alicante, spain",44.0
1031112,275863,0070084998,0,Sea Kayaker's Deep Trouble: True Stories and T...,Matt Broze,1997,International Marine/Ragged Mountain Press,"watsonville, california, usa",65.0
1031113,275863,159244086X,0,Onesimus,Shirley F. Woods,2002,Wipf &amp; Stock Publishers,"watsonville, california, usa",65.0
1031114,275874,0300059566,7,Karen Horney: A Psychoanalyst's Search for Sel...,Bernard J. Paris,1994,Yale University Press,"zürich, n/a, switzerland",NaN
1031115,275874,223405155X,0,Anielka: Roman,FranÃ§ois Taillandier,1999,Stock,"zürich, n/a, switzerland",NaN
1031116,275892,3570005941,7,In seiner Hand.,Nicci French,2003,"Bertelsmann, MÃ?Â¼nchen","82061, calabria, germany",43.0
1031117,275901,3250600261,0,Sieben Generationen Wahnsinn.,Svend Age Madsen,2000,Ammann,"vienna, vienna, austria",27.0
1031118,275944,3570260941,0,Die Unendliche Geschichte,Michael Ende,0,Mosaik Verlag GmbH,"erfurt, thueringen, germany",NaN
1031119,276001,0395669561,0,The Summer of Sassy Jo (Sandpiper Books),J. P. Reading,1993,Houghton Mifflin Company,"duluth, minnesota, usa",NaN
1031120,276047,0747503818,0,Only for a Fortnight: My Life in a Locked Ward,Sue Read,1990,Trafalgar Square,"shoreham-by-sea, , united kingdom",33.0
1031121,276054,0738840459,0,BUZZ,Carrie Lieber,2001,Xlibris Corporation,"novato, california, usa",NaN
1031122,276061,0879977086,0,The Werewolf Principle,Clifford Simak,1982,New Amer Library (Mm),"madrid, n/a, spain",27.0
1031123,276067,0694004162,10,If You Give a Mouse a Cookie/Mini Book and Mou...,Laura Joffe Numeroff,1992,HarperCollins Publishers,"reston, virginia, usa",36.0
1031124,276142,0671038672,10,"Lights Out : Sleep, Sugar, and Survival",T. S. Wiley,2000,Atria,"delta, british columbia, canada",NaN
1031125,276216,9700509222,5,Terreno peligroso,Jack Higgins,2000,"Grijalbo Mondadori, S.A","ccp, ccp, chile",29.0
1031126,276221,1550741136,8,The Science Book for Girls: And Other Intellig...,Valerie Wyatt,1997,Kids Can Press,"calgary, ,",NaN
1031127,276262,0741411504,0,The Bottoms Up of International Development,Richard Saunier,2002,Infinity Publishing (PA),"santa fe, new mexico, usa",68.0
1031128,276265,0020130902,7,The Art of Questioning : Thirty Maxims of Cros...,Peter Megargee Brown,1988,John Wiley &amp; Sons,"hot springs, arkansas, usa",21.0
1031129,276442,2070498492,6,Le NÃ?Â?ud Gordien,Bernard Schlink,2001,Gallimard,"genève, genève, switzerland",62.0
1031130,276442,2264032960,6,L'Apprenti du diable,Ellis Peters,2001,Editions 10/18,"genève, genève, switzerland",62.0
1031131,276442,2862749796,7,Le Huit,Katherine Neville,2002,Le Cherche Midi,"genève, genève, switzerland",62.0
1031132,276618,3788097000,5,Ludwig Marum: Briefe aus dem Konzentrationslag...,Ludwig Marum,1984,C.F. MÃ¼ller,"stuttgart, \n/a\""., germany""",NaN
1031133,276647,0553571001,0,Christmas With Anne and Other Holiday Stories:...,L. M. Montgomery,2001,Starfire,"arlington heights, illinois, usa",13.0
1031134,276647,0689822294,10,Heaven (Coretta Scott King Author Award Winner),Angela Johnson,1998,Simon &amp; Schuster Children's Publishing,"arlington heights, illinois, usa",13.0
1031135,276660,0583307841,8,ROBOT RACE (MICRO ADV 6),David Antony Kroft,1985,HarperCollins Publishers,"singapore, n/a, singapore",15.0